{% extends "base.html" %}
{% load simplepaginator %}

 {% block base_content %}

<h2>List</h2>
  <div>

      {% for i in object_list %}

           <div class="col-sm-6" style="height: 190px; border-bottom: 1px dotted #c0c0c0">
              <h3> {{ i.title }}</h3>
              <p> {{ i.content|truncatewords_html:20 }}</p>
              <p><a class="btn btn-default" href="{{ i.get_absolute_url }}" role="button">Подробно &raquo;</a></p>
            </div><!--/span-->


    {% endfor %}

  </div>

     {% if is_paginated %}
       {% simplepaginator %}
    {% endif %}


 {% endblock %}