{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen" />
<link rel="shortcut icon" href="{% static 'images/fav.ico' %}" type="image/x-icon"/>
<title>Блог</title>
</head>
<body>

        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container">

                <h1>Мой первый блог</h1>

          </div>
        </nav>

      <div class="container">
          <div class="row">
             {% block base_content %} {% endblock %}
          </div>
      </div>

</body>
</html>